@import "tailwindcss";

@theme {
  --color-dark: #232323;
  --color-light: #721cb8;
  --color-accent: #023e8a;
}

body {
  font-family: "Jersey 10", system-ui, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--color-light);

  animation: crt-flicker 1.5s infinite alternate;

  cursor: default;

  background-color: var(--color-dark);

  overflow-x: hidden;
}

body::after {
  content: "";
  position: fixed;
  inset: 0;

  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.18) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.03),
      rgba(0, 255, 0, 0.015),
      rgba(0, 0, 255, 0.03)
    );

  background-size: 100% 3px, 4px 100%;

  pointer-events: none;
  z-index: 10;

  will-change: opacity;
}

@keyframes crt-flicker {
  0% {
    opacity: 0.985;
  }

  100% {
    opacity: 1;
  }
}

@keyframes glitch {
  0% {
    transform: translate3d(0, 0, 0);
  }

  20% {
    transform: translate3d(-2px, 2px, 0);
  }

  40% {
    transform: translate3d(-2px, -2px, 0);
  }

  60% {
    transform: translate3d(2px, 2px, 0);
  }

  80% {
    transform: translate3d(2px, -2px, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

.glitch-effect {
  animation: glitch 0.25s linear;
  will-change: transform;
}

#bg-grid {
  position: fixed;
  inset: 0;

  width: 100%;
  height: 100%;

  z-index: -1;

  pointer-events: none;

  image-rendering: pixelated;

  opacity: 0.18;
}